openapi: 3.0.2
info:
  title: metadata APIs
  description: This is the myMdC api documentation
  contact:
    email: it-support@xfel.eu
  version: 1.0.0
servers:
  - url: https://in.xfel.eu/metadata/api
    description: Production server (uses live data)
  - url: https://in.xfel.eu/stage_metadata/api
    description: Staging server (uses test and fake data)
  - url: https://internal.xfel.eu/test_metadata/api
    description: Test server (uses test data)
  - url: https://internal.xfel.eu/dev_metadata/api
    description: Development server (uses fake data)
tags:
  - name: remote_devices
    description: Operations about remote devices
  - name: facilities
    description: Operations about the facilities
  - name: units
    description: Operations about the units
  - name: topics
    description: Operations about the topics
  - name: data_group_types
    description: Operations about the data group types
  - name: data_types
    description: Operations about the data types
  - name: experiment_types
    description: Operations about the experiment types
  - name: parameter_types
    description: Operations about the parameter types
  - name: repositories
    description: Operations about the repositories
  - name: instrument_types
    description: Operations about the instrument
  - name: sample_types
    description: Operations about the sample types
  - name: samples
    description: Operations about the samples
  - name: instrument_cycles
    description: Operations about the instrument cycles
  - name: experiments
    description: Operations about the experiments
  - name: beamtimes
    description: Operations about the beamtimes
  - name: proposals_users
    description: Operations about the Proposals_users
  - name: instruments
    description: Operations about the instruments
  - name: digital_object_identifiers
    description: Operations about the digital object identifiers
  - name: data_groups
    description: Operations about the data groups
  - name: data_files
    description: Operations about the data files
  - name: dataset_files
    description: Operations about the dataset files
  - name: data_source_groups
    description: Operations about the data source groups
  - name: data_source_group_versions
    description: Operations about the data source group versions
  - name: parameters
    description: Operations about the Parameters
  - name: runs
    description: Operations about the Runs
  - name: reports
    description: Operations about the Reports
  - name: proposals
    description: Operations about the Proposals
  - name: dark_runs
    description: Operations about Dark runs
  - name: techniques
    description: Operations about Techniques
  - name: proposals_techniques
    description: Operations about Proposals Techniques
  - name: oauth/token
    description: Operations to generate outh token
paths:
  /../oauth/token:
    post:
      tags:
        - oauth/token
      summary: Create a token
      operationId: createtoken
      requestBody:
        description: Create a token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokens'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/tokens'
        '400':
          description: Bad request e.g. Missing required parameter grant_type
        '401':
          description: Unauthorized header - valid authorization required
  /remote_devices:
    get:
      tags:
        - remote_devices
      summary: Get all remote devices
      description: Display all the available remote devices
      operationId: allremotedevices
      parameters:
        - name: id
          in: query
          description: Provide id of remote device
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: Provide name of the remote device
          required: false
          schema:
            type: string
        - name: proposal_id
          in: query
          description: Provide proposal_id of remote device
          required: false
          schema:
            type: integer
        - name: flg_status
          in: query
          description: Provide flag status of remote device
          required: false
          schema:
            type: string
        - name: flg_available
          in: query
          description: Provide available flag for remote device
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/remote_devices'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Remote device not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - remote_devices
      summary: create a remote device
      description: Display created remote device
      operationId: postremotedevice
      requestBody:
        description: Created facility object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote_devices'
        required: true
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/remote_devices'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Remote device not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /remote_devices/{id}:
    get:
      tags:
        - remote_devices
      summary: Get remote devices by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readremotedevices
      parameters:
        - name: id
          in: path
          description: Unique ID of a given remote devices that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/remote_devices'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Remote device not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - remote_devices
      summary: Update remote devices with given ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: putremotedevices
      parameters:
        - name: id
          in: path
          description: Unique ID of a given remote devices that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Provide parameters of remote device to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote_devices'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/remote_devices'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Remote device not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - remote_devices
      summary: Delete remote devices by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: deleteremotedevices
      parameters:
        - name: id
          in: path
          description: Unique ID of a given remote devices that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/remote_devices'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Remote device not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /facilities:
    get:
      tags:
        - facilities
      summary: Get all the facilities
      description: Display all the available facilities
      operationId: allfacilities
      parameters:
        - name: name
          in: query
          description: provide name
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: provide identifier e.g XFEL
          required: false
          schema:
            type: string
        - name: doi
          in: query
          description: provide doi
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/facilities'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Facilities not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - facilities
      summary: Create facility
      operationId: createfacility
      requestBody:
        description: Created facility object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/facilities'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/facilities'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /facilities/{id}:
    get:
      tags:
        - facilities
      summary: Get facility by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readfacility
      parameters:
        - name: id
          in: path
          description: Unique ID of a given facility that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/facilities'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Facilities not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - facilities
      summary: Update facility by ID
      description: Update any facility
      operationId: updatefacility
      parameters:
        - name: id
          in: path
          description: Unique ID of a given facility
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given facility
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/facilities'
        required: true
      responses:
        '200':
          description: Successful facility updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/facilities'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Facility not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - facilities
      summary: Delete facility by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroyfacilities
      parameters:
        - name: id
          in: path
          description: ID of a given facility to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Facility deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/facilities'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Facility not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /units:
    get:
      tags:
        - units
      summary: Get all the available units
      operationId: allunits
      parameters:
        - name: name
          in: query
          description: provide name
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of unit
          required: false
          schema:
            type: integer
        - name: identifier
          in: query
          description: provide identifier e.g GRAM
          required: false
          schema:
            type: string
        - name: symbol
          in: query
          description: provide symbol e.g. g
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/units'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Units not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - units
      summary: Create a unit
      operationId: createunit
      requestBody:
        description: Created unit object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/units'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/units'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /units/{id}:
    get:
      tags:
        - units
      summary: Get unit by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readunit
      parameters:
        - name: id
          in: path
          description: Unique ID of a given unit that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/units'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Unit not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - units
      summary: Update unit by ID
      description: Update any unit
      operationId: updateunit
      parameters:
        - name: id
          in: path
          description: Unique ID of a given unit
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given unit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/units'
        required: true
      responses:
        '200':
          description: Successful unit updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/units'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Unit not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - units
      summary: Delete unit by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroyunits
      parameters:
        - name: id
          in: path
          description: ID of a given unit to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Unit deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/units'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Unit not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /topics:
    get:
      tags:
        - topics
      summary: Get all the available topics
      operationId: alltopics
      parameters:
        - name: name
          in: query
          description: provide name
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of topic
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/topics'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Topics not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - topics
      summary: Create a topic
      operationId: createtopic
      requestBody:
        description: Created topic object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/topics'
        required: true
      responses:
        '201':
          description: successful operation
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /topics/{id}:
    get:
      tags:
        - topics
      summary: Get topic by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readtopic
      parameters:
        - name: id
          in: path
          description: Unique ID of a given unit that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/topics'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Topic not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - topics
      summary: Update topic by ID
      description: Update any topic
      operationId: updatetopic
      parameters:
        - name: id
          in: path
          description: Unique ID of a given topic
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given topic
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/topics'
        required: true
      responses:
        '200':
          description: Successful topic updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/topics'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Topic not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - topics
      summary: Delete topic by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroytopics
      parameters:
        - name: id
          in: path
          description: ID of a given topic to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Topic deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/topics'
        '401':
          description: Unauthorized header - valid authorization required
          content: {}
        '403':
          description: Access to the requested resource is forbidden - permission issue
          content: {}
        '404':
          description: Topic not found
          content: {}
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_group_types:
    get:
      tags:
        - data_group_types
      summary: Get all the data group types
      operationId: all_data_group_types
      parameters:
        - name: id
          in: query
          description: Provide id of data groups type
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: provide name e.g. Raw
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: provide identifier e.g RAW
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_group_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Data group types not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - data_group_types
      summary: Create data group types
      operationId: create_data_group_types
      requestBody:
        description: Created data group types object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_group_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_group_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_group_types/{id}:
    get:
      tags:
        - data_group_types
      summary: Get data group type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_data_group_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data group type that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_group_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data group type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - data_group_types
      summary: 'Update data group type by ID '
      description: Update any data group type
      operationId: update_data_group_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data group type
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given data group type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_group_types'
        required: true
      responses:
        '200':
          description: Successful Data_group_type updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_group_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data group type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - data_group_types
      summary: Delete data group type by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_data_group_types
      parameters:
        - name: id
          in: path
          description: ID of a given data group type to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Data_group_type deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_group_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data group type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_types:
    get:
      tags:
        - data_types
      summary: Get all the data types
      operationId: all_data_types
      parameters:
        - name: id
          in: query
          description: Provide id of data types
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: provide name e.g Integer 8-bit
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: provide identifier e.g INT8
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Data types not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - data_types
      summary: Create data types
      operationId: create_data_types
      requestBody:
        description: Created data types object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_types/{id}:
    get:
      tags:
        - data_types
      summary: Get data type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_data_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data type that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - data_types
      summary: Update data types by ID
      description: Update any data type
      operationId: update_data_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data type
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given data type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_types'
        required: true
      responses:
        '200':
          description: Successful Data_types updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Data type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - data_types
      summary: Delete data type by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_data_types
      parameters:
        - name: id
          in: path
          description: ID of a given data type to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Data_types deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /experiment_types:
    get:
      tags:
        - experiment_types
      summary: Get all the experiment types
      operationId: all_experiment_types
      parameters:
        - name: name
          in: query
          description: provide experiment type name
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of experiment type
          required: false
          schema:
            type: integer
        - name: identifier
          in: query
          description: provide identifier
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/experiment_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Experiment types not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - experiment_types
      summary: Create experiment type
      operationId: create_experiment_types
      requestBody:
        description: Created experiment type object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experiment_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/experiment_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /experiment_types/{id}:
    get:
      tags:
        - experiment_types
      summary: Get experiment type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_experiment_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given experiment type that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/experiment_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: experiment type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - experiment_types
      summary: Update experiment type by ID
      description: Update any experiment type
      operationId: update_experiment_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given experiment type
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given experiment type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experiment_types'
        required: true
      responses:
        '200':
          description: Successful Experiment_types updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/experiment_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: experiment type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - experiment_types
      summary: Delete experiment type by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_experiment_types
      parameters:
        - name: id
          in: path
          description: ID of a given experiment type to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Experiment_types deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/experiment_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: experiment type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /parameter_types:
    get:
      tags:
        - parameter_types
      summary: Get all the parameter types
      operationId: all_parameter_types
      parameters:
        - name: name
          in: query
          description: provide name e.g Monitor
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of parameter type
          required: false
          schema:
            type: integer
        - name: identifier
          in: query
          description: provide identifier e.g monit
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/parameter_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Parameter type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - parameter_types
      summary: Create parameter type
      operationId: create_parameter_types
      requestBody:
        description: Created parameter type object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/parameter_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/parameter_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /parameter_types/{id}:
    get:
      tags:
        - parameter_types
      summary: Get parameter type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_parameter_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given parameter type that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/parameter_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: parameter type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - parameter_types
      summary: Update parameter types by ID
      description: Update any parameter types
      operationId: update_parameter_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given parameter type
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given parameter type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/parameter_types'
        required: true
      responses:
        '200':
          description: Successful Parameter_types updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/parameter_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: parameter type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - parameter_types
      summary: Delete parameter types by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_parameter_types
      parameters:
        - name: id
          in: path
          description: ID of a given parameter type to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Parameter_types deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/parameter_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: parameter type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /repositories:
    get:
      tags:
        - repositories
      summary: Get all the repositories
      operationId: all_repositories
      parameters:
        - name: data_group_type_id
          in: query
          description: Provide data_group_type_id
          required: false
          schema:
            type: integer
        - name: id
          in: query
          description: Provide id of repository
          required: false
          schema:
            type: integer
        - name: rank
          in: query
          description: provide rank
          required: false
          schema:
            type: integer
        - name: mount_point
          in: query
          description: provide mount_point e.g /gpfs/exfel/exp
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: provide name
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: provide identifier e.g XFEL GPFS online for SASE 1
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/repositories'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: repositories not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - repositories
      summary: Create repository
      operationId: createrepositories
      requestBody:
        description: Created repository object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repositories'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/repositories'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /repositories/{id}:
    get:
      tags:
        - repositories
      summary: Get repository type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_repositories
      parameters:
        - name: id
          in: path
          description: Unique ID of a given repository that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/repositories'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: repository not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - repositories
      summary: Update repositories by ID
      description: Update any repositories
      operationId: update_repositories
      parameters:
        - name: id
          in: path
          description: Unique ID of a given repositories
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given repositories
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repositories'
        required: true
      responses:
        '200':
          description: Successful Repositories updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/repositories'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: repository not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - repositories
      summary: Delete repositories by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_repositories
      parameters:
        - name: id
          in: path
          description: ID of a given repositories to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Repositories deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/repositories'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: repository not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /instrument_types:
    get:
      tags:
        - instrument_types
      summary: Get all the instrument types
      operationId: all_instrument_types
      parameters:
        - name: name
          in: query
          description: provide name e.g. Production Instruments
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of instrument type
          required: false
          schema:
            type: integer
        - name: identifier
          in: query
          description: provide identifier e.g PROD
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/instrument_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: instrument types not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - instrument_types
      summary: Create instrument types
      operationId: create_instrument_types
      requestBody:
        description: Created instrument type object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/instrument_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/instrument_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /instrument_types/{id}:
    get:
      tags:
        - instrument_types
      summary: Get instrument type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: read_instrument_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given instrument types that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/instrument_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: instrument type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - instrument_types
      summary: Update instrument types by ID
      description: Update any instrument types
      operationId: update_instrument_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given instrument types
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given instrument types
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/instrument_types'
        required: true
      responses:
        '200':
          description: Successful Instrument_types updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/instrument_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: instrument type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - instrument_types
      summary: Delete instrument types by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroy_instrument_types
      parameters:
        - name: id
          in: path
          description: ID of a given instrument types to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Instrument_types deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/instrument_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: instrument type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /sample_types:
    get:
      tags:
        - sample_types
      summary: Get all the sample types
      operationId: allsample_types
      parameters:
        - name: flg_proposal_system
          in: query
          description: Provide flg_proposal_system
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Provide id of sample type
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: provide sample name
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: provide identifier
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/sample_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Sample types not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - sample_types
      summary: Create sample type
      operationId: createsample_type
      requestBody:
        description: Created sample type object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sample_types'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/sample_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /sample_types/{id}:
    get:
      tags:
        - sample_types
      summary: Get sample type by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readsample_types
      parameters:
        - name: id
          in: path
          description: Unique ID of a given sample type that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/sample_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Sample type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - sample_types
      summary: Update sample type by ID
      description: Update any sample type
      operationId: updatesample_type
      parameters:
        - name: id
          in: path
          description: Unique ID of a given sample_type
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given sample_type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sample_types'
        required: true
      responses:
        '200':
          description: Successful Sample_types updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/sample_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Sample type not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - sample_types
      summary: Delete sample type by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroysample_types
      parameters:
        - name: id
          in: path
          description: ID of a given sample type to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Sample_types deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/sample_types'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: sample type not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /samples:
    get:
      tags:
        - samples
      summary: Get all the samples
      operationId: allsamples
      parameters:
        - name: id
          in: query
          description: Provide id of sample
          required: false
          schema:
            type: integer
        - name: proposal_id
          in: query
          description: Provide proposal id
          required: false
          schema:
            type: integer
        - name: flg_proposal_system
          in: query
          description: Provide flg_proposal_system
          required: false
          schema:
            type: string
        - name: sample_type_id
          in: query
          description: provide sample_type_id
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: provide sample name
          required: false
          schema:
            type: string
        - name: proposal_system_id
          in: query
          description: provide proposal_system_id
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/samples'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Samples not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - samples
      summary: Create sample
      operationId: createsample
      requestBody:
        description: Created sample object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/samples'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/samples'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /samples/{id}:
    get:
      tags:
        - samples
      summary: Get sample by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readsamples
      parameters:
        - name: id
          in: path
          description: Unique ID of a given sample that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/samples'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: Sample not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - samples
      summary: Update sample by ID
      description: Update any sample
      operationId: updatesample
      parameters:
        - name: id
          in: path
          description: Unique ID of a given sample
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given sample
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/samples'
        required: true
      responses:
        '200':
          description: Successful Samples updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/samples'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: sample not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - samples
      summary: Delete sample by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroysamples
      parameters:
        - name: id
          in: path
          description: ID of a given sample to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Samples deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/samples'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: sample not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /beamtimes:
    get:
      tags:
        - beamtimes
      summary: Get all beamtimes
      operationId: allbeamtimes
      parameters:
        - name: id
          in: query
          description: Provide id of beamtimes
          required: false
          schema:
            type: integer
        - name: proposal_id
          in: query
          description: Provide proposal id
          required: false
          schema:
            type: integer
        - name: flg_available
          in: query
          description: Provide flag availability true or false
          required: false
          schema:
            type: boolean
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/beamtimes'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: beamtimes not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - beamtimes
      summary: Create a beamtime
      operationId: createbeamtimes
      requestBody:
        description: Created beamtimes user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beamtimes'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/beamtimes'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /beamtimes/{id}:
    get:
      tags:
        - beamtimes
      summary: Get beamtimes by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readbeamtimes
      parameters:
        - name: id
          in: path
          description: Unique ID of a given beamtime that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/beamtimes'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: ' beamtime not found'
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - beamtimes
      summary: Update a beamtime by ID
      description: Update any beamtimes
      operationId: updatebeamtimes
      parameters:
        - name: id
          in: path
          description: Unique ID of a given beamtime
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given beamtime
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beamtimes'
        required: true
      responses:
        '200':
          description: Successful Beamtimes updated
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/beamtimes'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: beamtime not found
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    delete:
      tags:
        - beamtimes
      summary: Delete beamtime by ID
      description: For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors
      operationId: destroybeamtimes
      parameters:
        - name: id
          in: path
          description: ID of a given beamtime to be deleted
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
      responses:
        '204':
          description: Successful Beamtimes deleted
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/beamtimes'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: beamtime not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_groups:
    get:
      tags:
        - data_groups
      summary: Get all data groups
      operationId: alldata_groups
      parameters:
        - name: id
          in: query
          description: Provide id of data group
          required: false
          schema:
            type: integer
        - name: data_group_type_id
          in: query
          description: provide data_group_type_id
          required: false
          schema:
            type: integer
        - name: experiment_id
          in: query
          description: provide experiment_id
          required: false
          schema:
            type: integer
        - name: user_id
          in: query
          description: provide user_id
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: provide name
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: provide language
          required: false
          schema:
            type: string
        - name: doi
          in: query
          description: provide doi
          required: false
          schema:
            type: string
        - name: flg_available
          in: query
          description: Provide flag availability true or false
          required: false
          schema:
            type: boolean
        - name: flg_writing
          in: query
          description: Provide flg_writing true or false
          required: false
          schema:
            type: boolean
        - name: flg_public
          in: query
          description: Provide flg_public true or false
          required: false
          schema:
            type: boolean
        - name: page_size
          in: query
          description: Number of records return per page (Default set to 100, Range 1 to 500)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: page
          in: query
          description: Page of the result (Default set to 1, Range 1 to available records)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: successful operation
          headers:
            X-Count-Per-Page:
              schema:
                type: integer
              description: Number of records per page
            X-Current-Page:
              schema:
                type: integer
              description: Current requested page
            X-Total-Count:
              schema:
                type: integer
              description: Total number of records
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_groups'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data groups not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    post:
      tags:
        - data_groups
      summary: Create a data groups
      operationId: createdata_groups
      requestBody:
        description: Created data groups object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_groups'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_groups'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '422':
          description: e.g. mandatory fields missing or unique field already taken/present
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
  /data_groups/{id}:
    get:
      tags:
        - data_groups
      summary: Get data groups by ID
      description: For valid response provide integer IDs within given range.  Other values will generated exceptions
      operationId: readdata_groups
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data group that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/data_groups'
        '401':
          description: Unauthorized header - valid authorization required
        '403':
          description: Access to the requested resource is forbidden - permission issue
        '404':
          description: data_groups not found
      security:
        - UserEmail: []
          MetadataAuth:
            - read:modules
        - UserEmail: []
          BearerToken: []
    put:
      tags:
        - data_groups
      summary: Update a data groups by ID
      description: Update any data groups
      operationId: updatedata_groups
      parameters:
        - name: id
          in: path
          description: Unique ID of a given data groups
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Parameters that can be updated for a given data groups
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/data_groups'
        required: true
      responses:
[...]
