.icon {
  width: rem(13px);
  height: auto;
  vertical-align: rem(-1px);
}

.expandIcon {
  transition: transform 0.2s;
}

.expandIconRotated {
  transform: rotate(90deg);
}

.content {
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.contentLabel {
  width: rem(80px);
}

.proposalDate {
  width: rem(112px);
}
