name: Build Site

on:
  workflow_call:
    inputs:
      deploy_subdir:
        required: true
        type: string
      checkout_ref:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkout_ref }}

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "frontend/package.json"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build app
        run: pnpm run build:site --base="/${{ github.event.repository.name }}/${{ inputs.deploy_subdir }}/"
        env:
          VITE_DEMO_URL: "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/${{ inputs.deploy_subdir }}/demo/"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: site-dist
          path: "frontend/apps/site/dist"
