name: Build Demo

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "frontend/package.json"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build app
        run: pnpm run build:demo
        env:
          VITE_BASE_URL: "/${{ github.event.repository.name }}/demo/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: demo-dist
          path: "frontend/apps/demo/dist"
