name: Deploy Pages

on:
  push:
    # tags:
    #   - "[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build-site:
    uses: ./.github/workflows/build-site.yml

  build-demo:
    uses: ./.github/workflows/build-demo.yml

  assemble-and-deploy:
    needs: [build-site, build-demo]
    runs-on: ubuntu-latest

    steps:
      - name: Download site artifact
        uses: actions/download-artifact@v4
        with:
          name: site-dist
          path: pages

      - name: Download demo artifact
        uses: actions/download-artifact@v4
        with:
          name: demo-dist
          path: pages/demo

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: pages

      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@v4

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
